* {
    margin: 0;
    padding: 50;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 65%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
}

body {
    font-family: optima, sans-serif;
    background: rgb(220, 220, 220);
    color: rgb(93, 111, 124);
    line-height: 18px;
}

.masthead {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10em;
}

.masthead a {
    font-size: 12px;
    font-weight: bold;
    color: rgb(93, 111, 124);
    text-decoration: none;
    color: inherit;
}

.masthead p {
    transition: transform 0.3s ease
}

.masthead p:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: rgb(168, 168, 168);
}

.intro h1 {
    font-size: 120px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 70px;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

.intro h3 {
    font-size: 8px;
    text-align: right;
    padding-top: 4px;
    /* text-transform: uppercase; */
}

.intro h2 {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 305px;
    text-transform: capitalize;
    line-height: 21px;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

.intro p {
    font-size: 12px;
    padding-top: 18px;
    padding-left: 305px;
    padding-right: 155px;
    padding-bottom: 33px;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

.colourchange-click h1 {
    font-size: 8px;
    text-align: right;
    padding-top: 4px;
}

.letters {
    display: flex;
    gap: 12px;
    justify-content: center;
    padding: 25px;
    padding-bottom: 28px;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

.letter-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    outline: none;
}

.letter-e,
.letter-i,
.letter-s,
.letter-n,
.letter-t,
.letter-f,
.letter-j,
.letter-p {
    width: 100px;
    height: 105px;
    color: rgb(93, 111, 124);
    background-color: rgb(190, 190, 190);
    border: 0;
    display: flex;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    /* border-radius: 200px; */
}

.letter-e:hover {
    background-color: #D99ca5;
    color: #943636;
    transform: scale(1.08);
}

.letter-i:hover {
    background-color: #Edcb9c;
    color: #a85a29;
    transform: scale(1.08);
}

.letter-s:hover {
    background-color: #efefa8;
    color: #bcac5d;
    transform: scale(1.08);
}

.letter-n:hover {
    background-color: #c2e0ae;
    color: #6abc5d;
    transform: scale(1.08);
}

.letter-t:hover {
    background-color: #8fc2df;
    color: #4588b1;
    transform: scale(1.08);
}

.letter-f:hover {
    background-color: #8f9edf;
    color: #6d5dbc;
    transform: scale(1.08);
}

.letter-j:hover {
    background-color: #a19ad1;
    color: #935dbc;
    transform: scale(1.08);
}

.letter-p:hover {
    background-color: rgb(194, 152, 217);
    color: #bc5dba;
    transform: scale(1.08);
}

.letter-group h1 {
    width: 100px;
    padding-top: 17px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    /* text-transform: uppercase; */
    /* mask-image: linear-gradient(to bottom, black 30%, transparent 100%) */
}

/* Hide popup*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

/* Show popup when letter-group clicked */
.letter-group:focus-within .popup {
    display: flex;
}

/* Popup Box Styling */
.content-e,
.content-i,
.content-s,
.content-n,
.content-t,
.content-f,
.content-j,
.content-p {
    background: rgb(220, 220, 220);
    padding-top: 30px;
    width: 60em;
    height: 38em;
    /* border-radius: 30px; */
    font-size: 14px;
    text-align: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    color: rgb(93, 111, 124);
    line-height: 20px;
}

.content-e img,
.content-i img,
.content-s img,
.content-n img,
.content-t img,
.content-f img,
.content-j img,
.content-p img {
    width: 30em;
    height: 25em;
}

.content-n img {
    width: 35em;
    height: 25em;
    padding-right: 50px;
}

.content-e h2,
.content-i h2,
.content-s h2,
.content-n h2,
.content-t h2,
.content-f h2,
.content-j h2,
.content-p h2 {
    font-size: 20px;
    padding-bottom: 15px;
}

.part3-name {
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

.types-name {
    font-size: 8px;
    font-weight: bold;
    text-align: right;
    padding-top: 0.5em;
    /* text-transform: uppercase; */
}

/* purple */
.grid1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    align-items: baseline center;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

/* green */
.grid2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    align-items: baseline center;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

/* blue */
.grid3 {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    align-items: baseline center;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

/* yellow */
.grid4 {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    align-items: baseline center;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

.grid-image img {
    height: 230px;
    object-fit: contain;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease
}

.grid-image img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.grid-image h1 {
    padding-top: 25px;
    font-size: 17px;
}

.esfj {
    width: 195px;
}

.grid-image p {
    padding-top: 10px;
    font-size: 11.5px;
    line-height: 16.5px;
    width: 180px;
    display: flex;
    justify-content: center;
}

.personalitytest h1 {
    font-size: 8px;
    font-weight: bold;
    text-align: right;
    padding-top: 0.5em;
}

/* link to test */
.button-container {
    padding-top: 30px;
    padding-bottom: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    border-bottom: 0.7px solid rgb(93, 111, 124);
}

/* para besides button */
.button-container p {
    padding: 10px;
    font-size: 25px;
    line-height: 37px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* button */
.external-btn {
    background: rgb(93, 111, 124);
    color: rgb(220, 220, 220);
    padding: 11px 0;
    width: 170px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    font-size: 15px;
    font-weight: bold;
    border: none;

    /* cursor: pointer; */
    /* transition: background 0.3s; */
}

.external-btn:hover {
    text-decoration: underline;
}


.references p {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;

    font-size: 10px;
    /* padding: 50px; */
    color: rgb(152, 152, 152);
}

.references a {
    text-decoration: none;
    color: inherit;
}

.references a:hover {
    text-decoration: underline;
}