* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 65%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
}

body {
    font-family: optima, sans-serif;
    font-size: 12px;
    background: radial-gradient(circle, #8d66a0, #a06697, 50%, #af9ad1, rgb(220, 220, 220));
    /* animation: expand 10s ease-in-out infinite; */
    animation: drift 10s ease-in-out infinite;
    background-size: 200% 200%;
    background-position: center;
    /* height: 100vh; */
    color: #36263e;
    line-height: 23px;
    /* padding: 40px 20px; */
}

@keyframes drift {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* @keyframes expand {
    0% {
        background-size: 100% 100%;
    }

    50% {
        background-size: 180% 180%;
    }

    100% {
        background-size: 100% 100%;
    }
} */

.masthead {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 7em;
    gap: 15px;
}

.masthead a {
    font-size: 50px;
    font-weight: bold;
    color: #36263e;
    text-decoration: none;
    padding-right: 20px;
}

.about-window a {
    font-size: 16px;
    height: 45px;
    color: #36263e;
    border: transparent;
    background-color: transparent;
    display: flex;
    padding-left: 20px;
    align-items: center;
    transition: transform 0.3s ease
}

.about-window a:hover {
    color: #ffffff;
    background-color: #36263e;
}

.popup-container {
    position: relative;
    display: inline-block;
}

.popup-container button {
    font-size: 16px;
    font-family: optima, sans-serif;
    font-weight: bold;
    width: 160px;
    height: 45px;
    color: #36263e;
    border: transparent;
    background-color: transparent;
    border-left: 1px solid #36263e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.popup-container:hover button {
    cursor: pointer;
    color: #ffffff;
    background-color: #36263e;
}

.popup-window {
    display: none;
    position: absolute;
    background-color: #36263e;
    border: 1px solid #36263e;
    width: 500px;
    height: 200px;
    padding: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.popup-container:hover .popup-window {
    display: block;
}

.popup-window ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* 4 columns */
    grid-template-rows: repeat(4, auto);
    /* 4 rows */
    gap: 20px;
    justify-items: center;
    list-style: none;
    padding: 10px;
    /* margin: 0; */
    height: 100%;
}

.popup-window a {
    text-decoration: none;
    color: #ffffff;
    font-family: optima, sans-serif;
    font-size: 18px;
}

.popup-window a:hover {
    text-decoration: underline;
    color: #af9ad1;
}


.title h1 {
    font-size: 16px;
    padding-left: 37px;
    color: #36263e;
}

.title h2 {
    font-size: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    color: #36263e;
    /* border-bottom: 0.7px solid #36263e; */
}

.title p {
    font-size: 16px;
    padding-left: 37px;
    padding-bottom: 35px;
    border-bottom: 0.7px solid #36263e;
}

.title h4 {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 305px;
    padding-right: 140px;
    text-transform: capitalize;
    line-height: 21px;
    color: #36263e;
    border-bottom: 0.7px solid #36263e;
}

.content_intro p {
    font-size: 14px;
    padding-left: 305px;
    padding-right: 140px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #000;
    border-bottom: 0.7px solid #36263e;
}

.content p,
.content h3,
.content h2 {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-out;
}

.content .show {
    opacity: 1;
    transform: translateY(0);
}

.content h1 {
    font-size: 43px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 70px;
    padding-bottom: 68px;
    border-bottom: 0.7px solid #36263e;

    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-out;

}

.good h2 {
    font-size: 25px;
    padding-left: 167px;
    padding-right: 140px;
    padding-top: 40px;
    padding-bottom: 35px;
    border-bottom: 0.7px solid #36263e;

}

.bad h2 {
    font-size: 25px;
    padding-left: 139px;
    padding-right: 140px;
    padding-top: 40px;
    padding-bottom: 35px;
    border-bottom: 0.7px solid #36263e;

}



.good h3,
.bad h3 {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 305px;
    padding-right: 140px;
    text-transform: uppercase;
    color: #000;
}

.good,
.bad {
    border-bottom: 0.7px solid #36263e;
    padding-bottom: 40px;
}

.good p,
.bad p {
    font-size: 14px;
    padding-left: 305px;
    padding-right: 140px;
    color: #000;
}

.button-container {
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.button-container a {
    color: #36263e;
    display: inline-block;
    padding: 1px 0;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: none;
    transition: transform 0.3s ease;
}

.button-container a:hover {
    /* text-decoration: underline; */
    color: #ffffff;
    transform: scale(1.3);
}

.external-btn {
    color: #36263e;
    display: inline-block;
    padding: 1px 0;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: none;
    transition: transform 0.3s ease;
}

.external-btn:hover {
    color: #ffffff;
    transform: scale(1.3);
}