* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

body {
    font-family: optima, sans-serif;
    background: rgb(220, 220, 220);
    color: rgb(93, 111, 124);
    line-height: 1.6;
    padding: 4em 5em;
}

.masthead {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10em;
}

.masthead a {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(93, 111, 124);
    text-decoration: none;
    color: inherit;
}

.masthead p {
    transition: transform 0.5s ease
}

.masthead p:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: rgb(168, 168, 168);
}

.intro h1 {
    font-size: 13em;
    text-align: left;
    padding-left: 0.1em;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

.intro p {
    font-size: 25px;
    padding-top: 1.1em;
    padding-left: 20.3em;
    padding-right: 23em;
    padding-bottom: 2.8em;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

.intro h2 {
    font-size: 1em;
    text-align: right;
    padding-top: 1em;
    /* text-transform: uppercase; */
}

.colourchange-click h1 {
    font-size: 1em;
    text-align: right;
    padding-top: 1em;
}

.letters {
    display: flex;
    gap: 28px;
    justify-content: center;
    padding: 50px;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

.letter-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    outline: none;
}

.letter-e,
.letter-i,
.letter-s,
.letter-n,
.letter-t,
.letter-f,
.letter-j,
.letter-p {
    width: 200px;
    height: 210px;
    color: rgb(93, 111, 124);
    background-color: rgb(190, 190, 190);
    border: 0;
    display: flex;
    align-items: center;
    font-size: 100px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /* border-radius: 200px; */
}

.letter-e:hover {
    background-color: #D99ca5;
    color: #943636;
}

.letter-i:hover {
    background-color: #Edcb9c;
    color: #a85a29;
}

.letter-s:hover {
    background-color: #efefa8;
    color: #bcac5d;
}

.letter-n:hover {
    background-color: #c2e0ae;
    color: #6abc5d;
}

.letter-t:hover {
    background-color: #8fc2df;
    color: #4588b1;
}

.letter-f:hover {
    background-color: #8f9edf;
    color: #6d5dbc;
}

.letter-j:hover {
    background-color: #a19ad1;
    color: #935dbc;
}

.letter-p:hover {
    background-color: rgb(194, 152, 217);
    color: #bc5dba;
}

.letter-group h1 {
    width: 200px;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
    /* text-transform: uppercase; */
    /* mask-image: linear-gradient(to bottom, black 30%, transparent 100%) */
}

/* Hide popup*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

/* Show popup when letter-group clicked */
.letter-group:focus-within .popup {
    display: flex;
}

/* Popup Box Styling */
.content-e,
.content-i,
.content-s,
.content-n,
.content-t,
.content-f,
.content-j,
.content-p {
    background: rgb(220, 220, 220);
    padding: 80px 100px;
    width: 55em;
    height: 38em;
    /* border-radius: 30px; */
    font-size: 30px;
    text-align: center;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    color: rgb(93, 111, 124);
}

.content-e img,
.content-i img,
.content-s img,
.content-n img,
.content-t img,
.content-f img,
.content-j img,
.content-p img {
    width: 30em;
    height: 25em;
    padding-bottom: 1.5em;
}

.part3-name {
    font-size: 6em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

.types-name {
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    padding-top: 1em;
    /* text-transform: uppercase; */
}

/* purple */
.grid1 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 80px;
    align-items: baseline;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

/* green */
.grid2 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: baseline;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

/* blue */
.grid3 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: baseline;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

/* yellow */
.grid4 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: baseline;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

.grid-image img {
    height: 550px;
    object-fit: contain;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease
}

.grid-image img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.grid-image h1 {
    padding-top: 50px;
}

.esfj {
    width: 450px;
}

.grid-image p {
    padding-top: 20px;
    font-size: 20px;
    line-height: 1.5;
    width: 20em;
    align-items: center;
    justify-content: center;
}



/* link to test */
.button-container {
    padding-top: 60px;
    padding-bottom: 70px;
    text-align: center;
    align-items: center;
    display: flex;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

/* para besides button */
.button-container p {
    padding: 20px;
    font-size: 50px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* button */
.external-btn {
    background: rgb(93, 111, 124);
    color: rgb(220, 220, 220);
    padding: 20px 0;
    width: 13em;
    height: 3em;
    text-align: center;
    text-decoration: none;
    border-radius: 80px;
    font-size: 30px;
    font-weight: bold;
    border: none;

    /* cursor: pointer; */
    /* transition: background 0.3s; */
}

.references p {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 100px;

    font-size: 20px;
    /* padding: 50px; */
    color: rgb(152, 152, 152);
}

.references a {
    text-decoration: none;
    color: inherit;
}