* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

body {
    font-family: optima, sans-serif;
    background: rgb(220, 220, 220);
    color: rgb(93, 111, 124);
    line-height: 1.6;
    padding: 4rem 2rem;
}

.masthead {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 5em;
}

.masthead p {
    font-size: 1.5em;
    color: rgb(93, 111, 124);
    padding: 1em;
}

.intro h1 {
    font-size: 13em;
    text-align: left;
    padding-left: 0.1em;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

.intro p {
    font-size: 25px;
    padding-top: 1.1em;
    padding-left: 20.3em;
    padding-right: 23em;
    padding-bottom: 2.8em;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

.name {
    font-size: 1em;
    text-align: right;
    padding-top: 1em;
    text-transform: uppercase;
}

.letters {
    display: flex;
    gap: 28px;
    justify-content: center;
    padding: 70px;
    border-bottom: 1.5px solid rgb(93, 111, 124);
}

.letter-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    outline: none;
}

.letter-e,
.letter-i,
.letter-s,
.letter-n,
.letter-t,
.letter-f,
.letter-j,
.letter-p {
    width: 200px;
    height: 210px;
    color: rgb(93, 111, 124);
    background-color: rgb(190, 190, 190);
    border: 0;
    display: flex;
    align-items: center;
    font-size: 100px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /* border-radius: 200px; */
}

.letter-e:hover {
    background-color: #D99ca5;
    color: #943636;
}

.letter-i:hover {
    background-color: #Edcb9c;
    color: #a85a29;
}

.letter-s:hover {
    background-color: #efefa8;
    color: #bcac5d;
}

.letter-n:hover {
    background-color: #c2e0ae;
    color: #6abc5d;
}

.letter-t:hover {
    background-color: #8fc2df;
    color: #4588b1;
}

.letter-f:hover {
    background-color: #8f9edf;
    color: #6d5dbc;
}

.letter-j:hover {
    background-color: #a19ad1;
    color: #935dbc;
}

.letter-p:hover {
    background-color: rgb(194, 152, 217);
    color: #bc5dba;
}

.letter-group h1 {
    width: 200px;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
    /* text-transform: uppercase; */
    /* mask-image: linear-gradient(to bottom, black 30%, transparent 100%) */
}

/* Hide popup*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

/* Show popup when the letter-group is clicked */
.letter-group:focus-within .popup {
    display: flex;
}

/* Popup Box Styling */
.content-e,
.content-i,
.content-s,
.content-n,
.content-t,
.content-f,
.content-j,
.content-p {
    background: rgb(220, 220, 220);
    padding: 50px;
    width: 30em;
    height: 10em;
    /* border-radius: 30px; */
    font-size: 20px;
    text-align: center;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    color: rgb(93, 111, 124);
}


.references a {
    justify-content: center;
    display: flex;
    font-size: 1em;
    padding: 10px 10px;
    color: rgb(152, 152, 152);
}